<%- include ../public/header %>

<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]--><!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]--><!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]--><!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<body id="particles-js">
<!--<![endif]-->


<%- include ../public/navbar %>

<%- include ../public/nav %>


<div class="content">

    <div class="header">

        <h1 class="page-title">Users</h1>
    </div>

    <ul class="breadcrumb">
        <li>
            <a href="<%= host %>">Home</a>
            <span class="divider">/</span></li>
        <li class="active">Orders</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <a href="<%= host %>admin/order/add">
                    <button class="btn btn-primary"><i class="icon-plus"></i> New Orders</button>
                </a>

                <button class="btn">Import</button>
                <button class="btn">Export</button>
                <div class="btn-group"></div>
            </div>
            <div class="well">
                <table class="table">
                    <thead>
                        <tr>
                            <th>_id</th>
                            <th>order_id</th>
                            <th>product_id</th>
                            <th>price</th>
                            <th>count</th>
                            <th>username</th>
                            <th>add_time</th>
                            <th>status</th>

                            <th style="width: 26px;"></th>
                            <!--_id: 5959e76b813bf81f68d3dc5b,-->
                            <!--order_id: 'order_id',-->
                            <!--product_id: 'product_id',-->
                            <!--product_title: 'product_title',-->
                            <!--price: 'price',-->
                            <!--count: 'count',-->
                            <!--all_price: 'all_price',-->
                            <!--uid: 'uid',-->
                            <!--username: 'username',-->
                            <!--name: 'name',-->
                            <!--phone: 'phone',-->
                            <!--add_time: '2017-7-3 14:42:43',-->
                            <!--staus: null-->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0;i < data.length;i++){ %>
                        <tr>
                            <td><%= data[i]._id %></td>
                            <td><%= data[i].order_id %></td>
                            <td><%= data[i].product_id %></td>
                            <td><%= data[i].price %></td>
                            <td><%= data[i].count %></td>
                            <td><%= data[i].username %></td>
                            <td><%= data[i].add_time %></td>

                            <td>

                                <%if(parseInt(data[i].status)==1){%>
                                <a class="updata" href="javascript:;">  <button type="button" class="btn btn-success">已审核</button></a>

                                <%}else{%>
                                <a class="updata" href="javascript:;"> <button type="button" class="btn btn-danger">未审核</button></a>
                                <%}%>

                            </td>
                            <td>
                                <a href="<%= host %>admin/order/updata?id=<%= data[i]._id %>">
                                    <i class="icon-pencil"></i></a>
                                <a href="<%= host %>admin/order/delete?id=<%= data[i]._id %>"><i class="icon-remove"></i></a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <%if(count>0){%>
                    <li>
                        <a href="<%=host%>admin/order?count=<%=count%>">Prev</a>
                    </li>
                    <%}else{%>
                    <li>
                        <a href="<%=host%>admin/order?count=1">Prev</a>
                    </li>
                    <%}%>
                    <%var a=alength%>
                    <%for(var j=0;j<a;j++){%>

                    <li>
                        <a href="<%=host%>admin/order?count=<%=j+1%>"><%=j+1%></a>
                    </li>
                  <%}%>
                    <%if(count<a-1){%>
                    <li>
                        <a href="<%=host%>admin/order?count=<%=count+2%>">Next</a>
                    </li>
                    <%}else{%>
                    <li>
                        <a href="<%=host%>admin/order?count=<%=a%>">Next</a>
                    </li>
                    <%}%>
                </ul>
            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text">
                        <i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>


            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p class="pull-right">A
                    <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a>
                    by
                    <a href="http://www.portnine.com" target="_blank">Portnine</a>
                </p>

                <p>© 2012
                    <a href="http://www.portnine.com" target="_blank">Portnine</a>
                </p>
            </footer>

        </div>
    </div>
</div>


<script src="<%= host %>lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    //    $("[rel=tooltip]").tooltip();
    //    $(function() {
    //        $('.demo-cancel-click').click(function(){return false;});
    //    });
    $(".updata").click(function(){
        var status="";
        var btn=$(this).find("button")
        var id=$(this).closest("tr").find("td").eq(0).text()
        if($(this).find("button").text()=="已审核"){
            status=1
        }else{
            status=0
        }
        $.get("<%=host%>admin/order/updataStatus",{"status":status,"id":id},function(result){
            if(result.status==1){
                if(btn.hasClass("btn-danger")){
                    btn.removeClass("btn-danger").addClass("btn-success");
                    btn.text("已审核")
                }else{
                    btn.removeClass("btn-success").addClass("btn-danger")
                    btn.text("未审核")
                }

            }
        })
    })
</script>

</body></html>


