
<%-include ../public/header%>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body id="particles-js">
<!--<![endif]-->


<%-include ../public/navbar%>

<%-include ../public/nav%>



<div class="content">

    <div class="header">

        <h1 class="page-title">Edit User</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="<%=host%>">Home</a> <span class="divider">/</span></li>
        <li><a href="<%=host%>order">Orders</a> <span class="divider">/</span></li>
        <li class="active">add</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">


            <div class="well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                    <li><a href="#profile" data-toggle="tab">Password</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="tab" method="post" action="<%=host%>admin/order/updata">
                            <input type="hidden" value="<%=data._id%>" name="_id"/>
                            <label><%=data.order_id%></label>
                            <input type="text" value="<%=data.order_id%>" name="order_id" class="input-xlarge">
                            <label><%=data.product_id%></label>
                            <input type="text" value="<%=data.product_id%>" name="product_id" class="input-xlarge">
                            <label><%=data.product_title%></label>
                            <input type="text" name="<%=data.product_title%>" value="product_title" class="input-xlarge">
                            <label><%=data.price%></label>
                            <input name="price" type="text" value="<%=data.price%>" class="input-xlarge">
                            <label><%=data.count%></label>
                            <input name="count" type="text" value="<%=data.count%>" class="input-xlarge">
                            <label><%=data.all_price%></label>
                            <input name="all_price" type="text" value="<%=data.all_price%>" class="input-xlarge">
                            <label><%=data.uid%></label>
                            <input name="uid" type="text" value="<%=data.uid%>" class="input-xlarge">
                            <label><%=data.username%></label>
                            <input name="username" type="text" value="<%=data.username%>" class="input-xlarge">
                            <label><%=data.name%></label>
                            <input name="name" type="text" value="<%=data.name%>" class="input-xlarge">
                            <label><%=data.phone%></label>
                            <input name="phone" type="text" value="<%=data.phone%>" class="input-xlarge">
                            <label><%=data.add_time%></label>
                            <%var date=new Date()%>
                            <%date=date.toLocaleString();%>
                            <input type="text" value="<%=date%>" class="input-xlarge" name="add_time">
                            <label>status</label>
                            <%if(parseInt(data.status)==1){ %>
                            <input type="radio" value="1" class="input-xlarge" name="staus" checked="checked">已审核
                            <input type="radio" value="0" class="input-xlarge" name="staus">未审核
                            <%}else{%>

                            <input type="radio" value="1" class="input-xlarge" name="status" >已审核
                            <input type="radio" value="0" class="input-xlarge" name="status"  checked="checked">未审核

                            <%}%>

        </textarea>

                            </select>
                            <div class="btn-toolbar">
                                <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
                                <a href="#myModal" data-toggle="modal" class="btn">Delete</a>
                                <div class="btn-group">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <form id="tab2">
                            <label>New Password</label>
                            <input type="password" class="input-xlarge">
                            <div>
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">

                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>



            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>

                <p>© 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            </footer>

        </div>
    </div>
</div>



<script src="<%=host%>lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
    });
</script>

</body>
</html>


